<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
        <link rel='stylesheet' href='/static/stylesheets/home.css' />
    </head>
    <body>
        <%- include('partials/navbar')%>
        <div class="main">
            <%- include('partials/flash') %>
            <h2>Campus Ambassadors</h2>
            <img src="/static/images/calogo.png" id="ca-logo">
            <%if(!ca){%>
                <div>
                    You are not a Campus Ambassador<br>
                    Be a Campus Ambassador. Promote Paradis by inviting people via email and earn exciting prizes.<br>
                    Post a request to be a Campus Ambassador.<br><br>
                    <form action="/campusAmbassadors/requests" method="POST">
                        <button type="submit" class="btn btn-lg btn-danger">Request</button>
                    </form>
                </div>
                <%}%>
            <%if(ca){%>
                <div>
                    <h3>You are a Campus Ambassador and your points are: <%=points%></h3>
                    
                   <h4>Help us by inviting people to Paradis website via email. You'll get a point for each accepted invite</h4>
                    <form action="/campusAmbassadors/invite" method="POST">
                        <div class="form-group row">
                            <div class="col-md-4 col-md-offset-4 center_div">
                                <label for="email">Just enter the email  of the person to be invited here:</label>
                                <input type="email" class="form-control" placeholder="Enter email" name="email" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-danger">Invite</button>
                    </form>
                    <hr>
                    <h4>You can see the list of people from your college who have registered at Paradis website.</h4>
                    <a href="/campusAmbassadors/myCollegeUsers"><button class="btn btn-lg btn-danger">My College Users</button></a>
                </div><hr>
                <%}%>
            <%if(admin){%>
                <div>
                    <h3>You are an admin</h3>
                    <h4>You can fetch a list of all the users on the Paradis website.</h4>
                    <a href="/users"><button class="btn btn-lg btn-danger">Get Users</button></a>
                    <br><hr>
                    <h4>You can fetch a list of all Campus Ambassadors</h4>
                    <a href="/campusAmbassadors/list"><button class="btn btn-lg btn-danger">Campus Ambassadors</button></a>
                    <br><hr>
                    <h4>You can fetch a list of all the requests posted to be Campus Ambassadors</h4>
                    <a href="/campusAmbassadors/requests"><button class="btn btn-lg btn-danger">Requests</button></a>
                    <br><hr>
                    <h4>You can directly make a user a Campus Ambassador by providing their username</h4>
                    <form action="/campusAmbassadors/makeCampusAmbassador" method="POST">
                        <div class="form-group row">
                            <div class="col-md-4 col-md-offset-4 center_div">
                                <label for="username">Enter the username here:</label>
                                <input type="text" class="form-control" placeholder="Enter username" name="username" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-danger">Make Campus Ambassador</button>
                    </form>
                </div><hr>
            <%}%>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>