<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
        <link rel='stylesheet' href='/static/stylesheets/home.css' />
    </head>
    <body>
        <%- include('partials/navbar')%>
        <div class="main">
            <%- include('partials/flash') %>
            <img src="/static/images/listlogo.png" id="ca-logo">
            <h2>The list of <%=listOf%></h2>
            <h3>You can delete all the requests. Be careful, clicking this button will delete all the requests</h3>
            <form action="/campusAmbassadors/requests/delete" method="POST">
                <button type="submit" class="btn btn-lg btn-danger">Delete Requests</button>
            </form>
            <h3>The requests are posted by:</h3>
            <hr>
            <%for(var i = 0; i<requests.length; i++){%>
            <div>
                <h4>Username: <%=requests[i].user.username%></h4>
                Full name: <%=requests[i].user.firstname%> <%=requests[i].user.lastname%>
                <br>
                <form action="/campusAmbassadors/requests/<%=requests[i]._id%>" method="POST">
                    <button type="submit" class="btn btn-lg btn-danger">Accept</button>
                </form><br>
                <form action="/campusAmbassadors/requests/<%=requests[i]._id%>/delete" method="POST">
                    <button type="submit" class="btn btn-lg btn-danger">Decline</button>
                </form>
            </div><hr>
            <%}%>
        </div>

        <%- include('partials/footer') %>
    </body>
</html>